@import "../../css/mixins.scss";

article {
  padding: 10px;
  @media only screen and (min-width: $break-sm) and (max-width: $break-tablet) {
    padding: 0;
  }
  p {
    @include font(13, 15.6);
    margin: 0 0 20px;
  }
}

.b-rightsidebar {
  article {
    @media only screen and (min-width: $break-sm) and (max-width: $break-tablet - 1) {
      padding: 0;
    }
  }
}