.b-breadcrumbs {
  margin-left: 10px; }
  .b-breadcrumbs:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  .b-breadcrumbs li {
    list-style: none;
    display: inline-block;
    vertical-align: middle; }
    .b-breadcrumbs li span, .b-breadcrumbs li a {
      font-size: 0.76923em;
      line-height: 1.2; }
    .b-breadcrumbs li a:hover {
      opacity: 0.5; }
    .b-breadcrumbs li.back {
      font-size: 13px; }
      .b-breadcrumbs li.back a {
        font-size: 0.92308em;
        line-height: 1.25; }

.f-breadcrumbs * {
  color: white; }

.h-breadcrumbs {
  margin-bottom: 5px; }
