@import "../../css/mixins.scss";

.b-content_wr {
  box-shadow: 0 0 4px rgba(0, 0, 0, 1);
  @include border-radius(8px);
}

.b-slogan {
  @include border-radius(8px 8px 0 0);
  @include img-responsive;
  display: none;
  @media only screen and (max-width: $break-tablet - 1) {
    display: block;
  }
}

.l-content {
  @include border-radius(0 0 8px 8px);
  margin-top: -3px;
  padding: 10px;
  background: #fff;
  @media only screen and (min-width: $break-sm) and (max-width: $break-smart-l) {
    @include border-radius(0 0 8px 8px);
  }
  .b-images a {
    display: inline-block;
    margin-right: 1%;
    @media only screen and (min-width: $break-sm) and (max-width: $break-tablet) {
      float: left;
    }
  }
}