#OT_searchWrapperAll {
  background: transparent;
  height: auto; }

#OT_searchWrapper {
  background: transparent;
  height: auto; }

#OT_searchWrapper .OT_feedTitle,
#OT_searchWrapper dl,
#OT_restaurantLbl,
#OT_restaurant,
#OT_partySizeLbl,
#OT_partySize,
#OT_dateLbl,
#OT_date,
#OT_timeLbl,
#OT_timeLbl,
#OT_time,
#OT_submitWrap {
  left: 0;
  position: relative;
  top: 0;
  text-align: left;
  margin: 0;
  padding: 0;
  margin-bottom: 5px; }

#OT_searchWrapper .OT_feedTitle {
  margin-bottom: 10px; }

#OT_searchWrapper select, #OT_searchWrapper option, #OT_searchWrapper input {
  color: #000; }
