@import "../../css/mixins.scss";

.b-slider_wr {
  .bx-wrapper {
    margin-bottom: 0;

    .bx-viewport {
      background: transparent;
      border: 0;
      left: 0;
      box-shadow: none;
    }

    .bx-pager {
      bottom: auto;
      padding-top: 5px;
      position: absolute;
      right: 5px;
      top: 5px;
      width: auto;

      .bx-pager-item a {
        background: #ccc;
        height: 8px;
        width: 8px;
        margin: 0 4px;
        &.active,
        &:hover {
          background: #777;
        }
      }
    }
  }
}

.b-bxslider {
  text-align: center;

  div.b-bxslider-content {
    @include center;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  h1 {
    @include font(26, 26);
    font-style: italic;
    color: #ff0000;
    @media only screen and (min-width: $break-sm) and (max-width: $break-tablet) {
      @include font(13, 16);
    }
  }

  h2 {
    @include font(19.5, 21);
    @media only screen and (min-width: $break-sm) and (max-width: $break-tablet) {
      @include font(13, 16);
    }
  }

  img {
    @include img-responsive;
  }
}

@media only screen and (max-width: $break-tablet - 1) {
  .b-bxslider_hidden {
    display: none;
  }
}

.b-bxslider_round,
.b-bxslider_round img.b-bxslider-img {
  @include border-radius(8px 8px 0 0);
}

